body {
  margin: 0;
  padding: 0;
}
.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  min-height: 100%;
}
.topbox {
  width: 98%;
}

header {
  width: 100%;
  height: 6vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  width: 10%;
  height: 6vh;
}
.logo p {
  font-size: 1.5em;
}
.nav {
  width: 50%;
  height: 6vh;
}
.nav ul {
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.nav a {
  text-decoration: none;
  font-size: 1.2em;
}
.nav a:hover {
  color: mediumspringgreen;
}
.login {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 12%;
  height: 6vh;
  margin: 5px;
}
.login1 {
  width: 38%;
  height: 4vh;
  background-color: darkseagreen;
  border: 1px solid black;
  border-radius: 3vh;
  cursor: pointer;
  font-size: 1em;
}
.getin {
  width: 60%;
  height: 4vh;
  background-color: greenyellow;
  border: 1px solid black;
  border-radius: 5vh;
  cursor: pointer;
  font-size: 1em;
}
.banner {
  width: 100%;
  height: 65vh;
  background-image: url("./fond_menu.jpg");
  border: 1px solid white;
  border-radius: 3vh;
  position: relative;
  top: 0;
  left: 0;
}
.banner .box {
  width: 25%;
  height: 40vh;
  margin-left: 8vh;
  display: flex;
  flex-direction: column;
  gap: 2vh;
  margin-top: 20vh;
}
.banner .titre {
  font-size: 5em;
}
.nav1 ul {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  width: 60%;
}
.income {
  width: 40%;
  height: 20vh;
  background-color: white;
  position: absolute;
  right: 0;
  bottom: 0;
  border-radius: 2vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.income .bloc {
  width: 20%;
  height: 70%;
}
.bloc h2 {
  text-align: center;
  font-size: 3vh;
}
.text {
  width: 100%;
  height: 20vh;

  display: flex;
  justify-content: space-between;
  align-items: center;
}
.text .text1 {
  width: 40%;
  height: 20vh;
  font-size: 3.8em;
  text-align: center;
}
.text .text2 {
  width: 38%;
  height: 8vh;
  font-size: 1.5em;
  text-align: center;
}
.sectio {
  width: 100%;
  height: 35vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5vh;
  margin-bottom: 5vh;
  border-radius: 2vh;
}

.secbox {
  width: 30vh;
  height: 30vh;
  background-color: rgb(160, 231, 231);
  border-radius: 45vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3em;
}
.offer {
  width: 100%;
  height: 70vh;
  background-color: lightskyblue;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.offer1 {
  width: 30%;
  height: 15vh;
  text-align: center;
  font-size: 3em;
}
.offer2 {
  width: 80%;
  height: 40vh;
  border: 1px solid black;
  border-radius: 2vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.offer3 {
  width: 33.2%;
  height: 20vh;
  border: 1px solid blue;
  background-color: aliceblue;
  display: flex;
  justify-content: center;
  flex-direction: column;
  border-radius: 2vh 0 0 0;
}
.offer3a {
  width: 33.2%;
  height: 20vh;
  border: 1px solid blue;
  background-color: aliceblue;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.offer3b {
  width: 33.2%;
  height: 20vh;
  border: 1px solid blue;
  background-color: aliceblue;
  display: flex;
  justify-content: center;
  flex-direction: column;
  border-radius: 0 2vh 0 0;
}
.offer3c {
  width: 33.2%;
  height: 20vh;
  border: 1px solid blue;
  background-color: aliceblue;
  display: flex;
  justify-content: center;
  flex-direction: column;
  border-radius: 0 0 0 2vh;
}
.offer3d {
  width: 33.2%;
  height: 20vh;
  border: 1px solid blue;
  background-color: aliceblue;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.offer3e {
  width: 33.2%;
  height: 20vh;
  border: 1px solid blue;
  background-color: aliceblue;
  display: flex;
  justify-content: center;
  flex-direction: column;
  border-radius: 0 0 2vh 0;
}
.offer3 .imag {
  width: 12%;
  height: 50vh;
  margin: 2vh;
  border: 1px solid black;
  border-radius: 1vh;
  box-shadow: 1px 2px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.offer3 .imgtitre {
  width: 100%;
  font-size: 1.3em;
  font-weight: bolder;
  margin: 2vh;
}
.offer3 .imgtext {
  width: 100%;
  margin: 2vh;
}
.offer3a .imag {
  width: 12%;
  height: 50vh;
  margin: 2vh;
  border: 1px solid black;
  border-radius: 1vh;
  box-shadow: 1px 2px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.offer3a .imgtitre {
  width: 100%;
  font-size: 1.3em;
  font-weight: bolder;
  margin: 2vh;
}
.offer3a .imgtext {
  width: 100%;
  margin: 2vh;
}
.offer3b .imag {
  width: 12%;
  height: 50vh;
  margin: 2vh;
  border: 1px solid black;
  border-radius: 1vh;
  box-shadow: 1px 2px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.offer3b .imgtitre {
  width: 100%;
  font-size: 1.3em;
  font-weight: bolder;
  margin: 2vh;
}
.offer3b .imgtext {
  width: 100%;
  margin: 2vh;
}
.offer3c .imag {
  width: 12%;
  height: 50vh;
  margin: 2vh;
  border: 1px solid black;
  border-radius: 1vh;
  box-shadow: 1px 2px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.offer3c .imgtitre {
  width: 100%;
  font-size: 1.3em;
  font-weight: bolder;
  margin: 2vh;
}
.offer3c .imgtext {
  width: 100%;
  margin: 2vh;
}
.offer3d .imag {
  width: 12%;
  height: 50vh;
  margin: 2vh;
  border: 1px solid black;
  border-radius: 1vh;
  box-shadow: 1px 2px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.offer3d .imgtitre {
  width: 100%;
  font-size: 1.3em;
  font-weight: bolder;
  margin: 2vh;
}
.offer3d .imgtext {
  width: 100%;
  margin: 2vh;
}
.offer3e .imag {
  width: 12%;
  height: 50vh;
  margin: 2vh;
  border: 1px solid black;
  border-radius: 1vh;
  box-shadow: 1px 2px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.offer3e .imgtitre {
  width: 100%;
  font-size: 1.3em;
  font-weight: bolder;
  margin: 2vh;
}
.offer3e .imgtext {
  width: 100%;
  margin: 2vh;
}
.trusted {
  width: 80%;
  height: 80vh;

  display: flex;
  justify-content: space-between;
  margin: 10vh;
}
.trustedtext {
  width: 50%;
  height: 50vh;
}
.trusted_titre {
  width: 100%;
  height: 20vh;
  background-color: #fff;
  font-size: 4.5em;
}
.trustedbnt {
  width: 20%;
  height: 5vh;
  background-color: darkgrey;
  border-radius: 2vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.trusteddiv {
  width: 100%;
  height: 50vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 5vh;
}
.trusteddivbox {
  width: 40%;
  height: 15vh;
  display: flex;
  flex-direction: column;
  border-radius: 2vh;
  padding: 2vh;
  margin-top: 3vh;
  border: 1px solid gray;
}
.trusteddivbox .Numero {
  color: rgba(162, 165, 187, 0.582);
  width: 100%;
  height: 5vh;
  font-size: 1.3em;
}
.trusteddivbox .tdivtext {
  width: 100%;
  height: 20vh;
  font-size: 2.2em;
}
.tdivtext a {
  width: 100%;
  height: 5vh;
}
.trustedimg {
  width: 40%;
  height: 100%;
  border-radius: 3vh;
  background: url("./psolaire.png") no-repeat center/cover;
}
.solve {
  width: 80%;
  height: 80vh;
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  margin: 5vh;
}
.solvetitre {
  width: 100%;
  height: 15vh;
  text-align: center;
  font-size: 3em;
  background-color: #fff;
}
.solve1 {
  width: 100%;
  height: 50vh;
  background-color: aqua;
  border-radius: 5vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2vh;
}
.solvetext {
  width: 55%;
  height: 40vh;
  display: flex;
  flex-direction: column;
  padding: 3vh;
}
.solvetexttitre {
  width: 100%;
  height: 10vh;
  font-weight: bolder;
  font-size: 1.3em;
  text-align: left;
}
.solvetext2 {
  width: 100%;
  height: 20vh;
  text-align: left;
  font-size: 1.5em;
  margin-top: 3vh;
}
.solvebtn {
  width: 20%;
  height: 25vh;
  background-color: darkgrey;
  border-radius: 2vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.solvetext .nom {
  width: 100%;
  height: 30vh;
  text-align: left;
  margin-top: 20vh;
  font-weight: bolder;
}
.solveimg {
  width: 40%;
  height: 50vh;
  background: url("./hangar.png") no-repeat center/cover;
  border-radius: 5vh;
}
.electric {
  width: 60%;
  height: 10vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: auto;
}
.electbox {
  width: 30%;
  height: 5vh;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 2px solid black;
}
footer {
  width: 100%;
  height: 40vh;
  background-color: black;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  padding: auto;
}
.foot1 {
  width: 80%;
  height: 20vh;
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
}
.foot1a {
  width: 100%;
  height: 10vh;
  display: flex;
  justify-content: space-between;
}
.foot1aa {
  width: 48%;
  height: 100%;
}
.foot1aa-title {
  height: 70%;
  width: 100%;

  font-size: 2em;
}
.mini-container {
  height: 30%;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.foot1ab {
  width: 48%;
}
.foot1ab p {
  margin: 0;
  padding: 0;
}
.foot2 {
  width: 60%;
  height: 10vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.foot2 .logo {
  color: #fff;
}
.foot3 {
  width: 80%;
  height: 5vh;
  border-top: 1px solid gray;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
